<footer class="footer">
  <!-- go up  -->
  <button class="footer__button--scrollUp">
    <a href="#header">
      <img src="./assets/images/ico-arrow.svg" title="Go up" alt="Go up link" />
    </a>
  </button>

  <!-- menu  -->
  <ul class="footer__menu--item5">
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Articles</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Books</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Events</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Reasons</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Tips</a
      >
    </li>
  </ul>

  <!-- social media  -->
  <ul class="footer__media">
    <li class="footer__media--item">
      <a href="https://adalab.es" class="footer__media--link" target="_blank"
        >Twitter</a
      >
    </li>
    <li class="footer__media--item">
      <a href="https://adalab.es" class="footer__media--link" target="_blank"
        >Instagram</a
      >
    </li>
    <li class="footer__media--item">
      <a href="https://adalab.es" class="footer__media--link" target="_blank"
        >Mastodon.social</a
      >
    </li>
  </ul>
  <!-- copy right  -->
  <small class="footer__copy">
    <p class="footer__copy--item1">&copy 2021</p>
    <p class="footer__copy--item2">we ❤︎ components</p>
  </small>
</footer>
