<footer class="footer">
  <!-- Button to go to the start  -->
  <button class="footer__button--scrollUp">
    <a href="#start">
      <img src="./assets/images/ico-arrow.svg" title="Go up" alt="Go up link" />
    </a>
  </button>

  <!-- Footer menu  -->
  <ul class="footer__menu">
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Articles</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Books</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Events</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Reasons</a
      >
    </li>
    <li class="footer__menu--item">
      <a class="footer__menu--link" href="https://adalab.es" target="_blank"
        >Tips</a
      >
    </li>
  </ul>

  <!-- Footer social media  -->
  <ul class="footer__media">
    <li class="footer__media--item">
      <a href="https://adalab.es" class="footer__media--link" target="_blank"
        >Twitter</a
      >
    </li>
    <li class="footer__media--item">
      <a href="https://adalab.es" class="footer__media--link" target="_blank"
        >Instagram</a
      >
    </li>
    <li class="footer__media--item">
      <a href="https://adalab.es" class="footer__media--link" target="_blank"
        >Mastodon.social</a
      >
    </li>
  </ul>

  <!-- Footer copyright  -->
  <small class="footer__copy">
    <p class="footer__copy--item">&copy 2021</p>
    <p class="footer__copy--item">
      we <i class="fa fa-heart" aria-hidden="true"></i> components
    </p>
  </small>
</footer>
