<header class="header" id="start">
  <button class="header__button--burguer">
    <a href="https://adalab.es" target="_blank">
      <img title="menu" src="./assets/images/ico-menu.svg" alt="menu icon" />
    </a>
  </button>
  <div class="header__container">
    <h1 class="header__title">
      <span class="header__title--item">Anonymous</span>
      <span class="header__title--item">Proxy</span>
    </h1>
    <h4 class="header__subtitle">In hac habitasse platea dictumst.</h4>
    <button class="header__button--scrollDown">
      <a href="#reasons">
        <img
          src="./assets/images/ico-scroll-down.svg"
          title="Go to reasons to purchase"
          alt="scroll-down link"
        />
      </a>
    </button>
  </div>
</header>
