<section class="reasons" id="reasons">
    <h2 class="reasons__title">3 reasons to purchase</h2>

    <div class="reasons__item1">
      <h3 class="reasons__item1--title">Ut sed metus</h3>
      <p class="reasons__item1--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </div>
    <div class="reasons__item2">
      <h3 class="reasons__item2--title">Curabitur ac erat</h3>
      <p class="reasons__item2--text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>
    <div class="reasons__item3">
      <h3 class="reasons__item3--title">Morbi dictum</h3>
      <p class="reasons__item3--text">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </div>
    <div class="reasons__button">
      <a href="">More Reasons</a>
    </div>
</section>
