<section class="reasons" id="reasons">
  <h2 class="reasons__item1 reasons--mainTitle">3 reasons to purchase</h2>

  <div class="reasons__item2">
    <h3 class="reasons--title">Ut sed metus</h3>
    <p class="reasons--text">Lorem ipsum dolor sit amet, consecteur.</p>
  </div>

  <div class="reasons__item3 2">
    <h3 class="reasons--title">Curabitur ac erat</h3>
    <p class="reasons--text">Mauris mattis urna quis lorem molestie.</p>
  </div>

  <div class="reasons__item4 3">
    <h3 class="reasons--title">Morbi dictum</h3>
    <p class="reasons--text">Aliquam in dolor et dolor tincidunt.</p>
  </div>

  <div class="reasons__item5">
    <a class="reasons--button" href="">More reasons</a>
  </div>
</section>
