// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-bg: #ffffff;
$color-bg-secondary: #eff9ff;
$color-bg-complementary: #304268;
$color-text: #000000;
$color-text-secondary: #4a4a4a;
$color-text-negative: #ffffff;
$color-button: #f26002;
