// ANIMATION scroll-up button footer
@keyframes intro {
  from {
    transform: scale(3) matrix(1, 2, 3, 4, 5, 6);
    background-color: $color-button;
    opacity: 0;
  }
  30% {
    transform: scale(2);
    opacity: 30%;
  }
  60% {
    transform: scale(0);
    opacity: 100%;
  }
}

// ANIMATION heart icon footer
@keyframes heartbeat {
  from {
    transform: scale(1.7);
  }
  30% {
    transform: scale (1);
  }
  60% {
    transform: scale (0.5);
  }
  to {
    transform: scale (1);
  }
}

// FOOTER Styles
.footer {
  @include centralColumn();
  background-color: $color-bg-complementary;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 60px;
  @include tablet() {
    padding: 60px 39px 45px 39px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include desktop() {
    padding: 60px 270px 45px 270px;
  }

  // Button scroll-up with ANIMATION

  &__button--scrollUp {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color-bg;
    box-shadow: 0 2px 4px 0 $shadow-button;
    position: absolute;
    top: -7%;
    animation-name: intro;
    animation-duration: 3s;
    // two seconds delay to have time to go see animation
    animation-delay: 2s;

    @include tablet() {
      left: 50%;
    }
  }
  &__menu,
  &__media,
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    line-height: 1.88;
    @include fontNormal();
    @include tablet() {
      align-items: stretch;
    }
    &--link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-negative;
      font-family: $font-main;
      font-size: 16px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__copy {
    padding: 4px;
    margin-bottom: 45px;
    @include tablet() {
      order: -1;
    }
    &--item {
      color: $color-text-negative;
      font-family: $font-main;
      font-size: 14px;
      padding-top: 10px;
    }
  }
}
// Heart icon with ANIMATION
.fa,
.fa-heart {
  color: $color-button;
  animation-name: heartbeat;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
