.header {
  background: no-repeat center url("../images/cover.jpg");
  width: 100vw;
  height: 100vh;

  &__button--burguer {
    background-color: #0271bc;
    width: 44px;
    height: 44px;
    position: fixed;
  }
}
.header__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  color: $color-text-negative;
  font-family: $font-title;
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
}
.header__title--item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.header__subtitle {
  color: $color-text-negative;
  font-family: $font-main;
  font-size: 16px;
  //   padding-bottom: 100px;
}
.header__button--scrollDown {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: relative;
  bottom: -50%;
}
