@mixin centralColumn() {
  padding: 0 15px;
  @content;
}

// STYLES LOOKING SECTION
.looking {
  @include centralColumn();
  padding-bottom: 45px;
  background-color: $color-bg;
  @include tablet() {
    @include centralColumn() {
      padding: 0 39px 60px 39px;
    }
  }
  @include desktop() {
    @include centralColumn() {
      padding: 0 275px 60px 275px;
    }
  }
  &__title--small {
    font-family: $font-main;
    color: #8ccbea;
    font-size: 14px;
    line-height: 30px;
    text-transform: capitalize;
    @include fontNormal();
    display: inline-block;
    padding-top: 30px;
    @include desktop() {
      font-size: 16px;
    }
  }
  &__title {
    @include titleMain();
    @include tablet() {
      font-size: 26px;
    }
    @include desktop() {
      font-size: 32px;
    }
  }
  &__text {
    font-family: $font-main;
    color: $color-text-secondary;
    font-size: 18px;
    @include fontNormal();
    padding: 15px 0 30px 0;
    @include tablet() {
      font-size: 20px;
    }
  }
  &__icon {
    height: 45px;
    width: 76px;
    border: 2px $color-button solid;
    border-radius: 22.5px;
    padding: 0 25px 0 26px;
    background-color: $color-bg;
    font-family: $font-main;
    color: $color-button;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      color: $color-bg;
      background-color: $color-button;
      font-weight: bold;
      transition: color ease 1s, background-color ease 0.5s;
    }
  }
}
